header, nav, footer {
	display:block;
}
body {
	background-color:#ddd;
	font-family:"helvetica neue", helvetica, verdana, sans-serif;
	width:960px;
	font-weight:200;
	margin:auto;
}

a#logo{
	text-decoration:none;
	font-size:6em;
}
a#logo #hillcrest{
	color:#0FD1F7;
	font-weight:100;
}
/*shift lab to the left to touch the t*/
a#logo #lab{
	position:relative;
	left:-9px;
	font-weight:900;
	color:#37DE50;
}

/*screenshot image allows text to flow around it to its right*/
#screenshot {
	width:320px;
	float:right;
}

header {
	border-bottom:1px dotted black;
}
/*make list items appear on the same line in nav bar*/
header nav ul, header nav ul li{
	display:inline;
	margin:0;
}

header nav ul li{
	text-align:right;
	padding:0 1em;
}

header nav{
	background-color:red;
	float:right;
	position:relative;
	bottom:1.2em;
}
