@import url("/resources/fonts/BrockScript.css");
header, nav, footer {
	display:block;
}
body {
	background-color:#ddd;
	font-family:"helvetica neue", helvetica, verdana, sans-serif;
	width:960px;
	font-weight:200;
	margin:auto;
	line-height:1.5em;
}

a#logo{
	text-decoration:none;
	font-size:6em;
	line-height:1em;
}
a#logo #hillcrest{
	color:#0FD1F7;
	font-weight:100;
}
/*shift lab to the left to touch the t*/
a#logo #lab{
	position:relative;
	left:-9px;
	font-weight:900;
	color:#37DE50;
}

header {
	border-bottom:1px dotted black;
}

header nav ul {
	overflow:hidden;
	margin:0;
	padding:0.4em 0 0 0;
	list-style-type:none;
	float:right;
	background-color:#8a8a8a;
	position:relative;
	bottom:1.4em; /*1 + 0.4 for bottom to be flush with header bottom*/
	
	-moz-border-radius:0.4em 0.4em 0 0;	
	border-radius:0.4em 0.4em 0 0;
}
header nav ul li {
	float:left;
	margin-bottom:0;
	line-height:1;
	padding:0 0.8em;
}
/*all links purple*/
a {
	color:#5C00B8;
}

/*screenshot image allows text to flow around it to its right*/
#screenshot {
	width:320px;
	float:left;
}

/* Regions page special stuff */
#regions-icon-wrap {
	float:left;
	padding:10px;
}

#regions-icon-wrap a img{
	-moz-border:0px solid black;
}
#regions-icon {
	width:250px;
	border-radius:30px;
	-webkit-box-shadow: 3px 5px 10px #444;
	-moz-box-shadow: 3px 5px 10px #444;
	box-shadow: 3px 5px 10px #444;
}

#regions-title {
	font-family:'BrockScriptRegular', helvetica, sans-serif;
	font-size:8em;
	line-height:1.5em;
	margin:0;
	padding:0;
}
#regions-title>a {
	text-decoration:none;
}

#regions-subtitle {
	padding:0;
	margin:0;
	position:relative;
	left:2em;
}

#regions-steps {
	clear:left;
	background-color:gray;
}
#regions-steps li {
	display:inline-block;
	padding:20px;
}
#regions-steps img {
	display:block;
	width:250px;
}
#empty-step{
	width:250px;
	height:348px;
	border: 5px dotted #444;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* about page */
#social {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
#social img {
	padding-right: 10px;
}

