header, nav, footer {
	display:block;
}
body {
	background-color:#ddd;
	font-family:"helvetica neue", helvetica, verdana, sans-serif;
	width:960px;
	font-weight:200;
	margin:auto;
}

a#logo{
	text-decoration:none;
	font-size:6em;
}
a#logo #hillcrest{
	color:#0FD1F7;
	font-weight:100;
}
/*shift lab to the left to touch the t*/
a#logo #lab{
	position:relative;
	left:-9px;
	font-weight:900;
	color:#37DE50;
}

header {
	border-bottom:1px dotted black;
}

header nav ul {
	overflow:hidden;
	margin:0;
	padding:0.4em 0 0 0;
	list-style-type:none;
	float:right;
	background-color:#8a8a8a;
	position:relative;
	bottom:1.4em; /*1 + 0.4 for bottom to be flush with header bottom*/
	
	-moz-border-radius:0.4em 0.4em 0 0;	
	border-radius:0.4em 0.4em 0 0;
}
header nav ul li {
	float:left;
	margin-bottom:0;
	line-height:1;
	padding:0 0.8em;
}
/*all links purple*/
a {
	color:#5C00B8;
}

/*screenshot image allows text to flow around it to its right*/
#screenshot {
	width:320px;
	float:right;
}
