body {
	width:760px;
	margin:40px auto;
	background-color:#ddd;
	font-family:"helvetica neue", helvetica, verdana, sans-serif;
	font-weight:200;
}

a#logo{
	text-decoration:none;
	font-size:7em;
}
a#logo #hillcrest{
	color:#0FD1F7;
	font-weight:100;
}
/*shift lab to the left to touch the t*/
a#logo #lab{
	position:relative;
	left:-9px;
	font-weight:900;
	color:#37DE50;
}

/*screenshot image allows text to flow around it to its right*/
#screenshot {
	width:320px;
	float:left;
}

/*display nav-bar list to the right*/
header nav ul {
	padding:0;
	text-align:right;
}

/*make list items appear on the same line, and give them some space between each other*/
header nav ul li{
	display:inline;
	margin:0;
	padding:10px;
}

